
/* Esta parte le da el estilo al borde del titulo H1 */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Merriweather', serif;

}

body {
	background-color: rgb(0,0, 0);
	overflow-x: hidden;	
	background-image: url(../Img/logobl.png);
	background-position: center 25vh;
	background-size: 30%;
	background-repeat:no-repeat;
	
}

/* HEADER */
.logo {

	width:100px;
	border-radius: 5px;
}
nav {
	display: flex;
	height: 10vh;
	background: blueviolet;
	justify-content: space-between;
	text-align: center;
}

.nav-links
{
	display: flex;
	list-style: none;
	width: 40%;
	height: 100%;
	justify-content: space-between;
	padding: 5px;
}
.nav-links>li {
	align-self: center;
}

.nav-links li a {
	color: white;
	text-decoration: none;
}


@media (max-width:768px) {

	nav {
		position: relative;
	}
	.hamburguesa {
		position: absolute;
		cursor: pointer;
		right: 5%;
		top:50%;
		transform: translate(-5%,-50%);
		z-index: 2;
	}

	.line {
		width: 30px;
		height: 3px;
		background: white;
		margin: 5px;
	}
	.nav-links {
		position: fixed;
		background-color: blueviolet;
		height: 100vh;
		width: 100%;
		flex-direction: column;
		
		-webkit-clip-path:circle(100px at 90% -20%);
		transition: all 1s ease-out;
	}

	.nav-links.open {
		
		-webkit-clip-path:circle(1200px at 90% -20%);
	}
	
}


:root {
    --lightgreen: rgba(4, 99, 241, 0.658);
    --green: rgba(14, 104, 240, 0.596);
    --darkgreen:#0076fc41;
}
/* Barra de navegacion principal*/

	/*Aca termina la barra de navegacion principal*/
	
	#particles {
		position:absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
	height: 400vh;

	}
	/*LA SECCION PRINCIPAL SON LOS CUATRO FLYERS CENTRALES*/

	.presentacion_tarjetas {
	color: #fff;
	font-size: 2.5em;
	padding-top: 10px;
	text-align: center;
	
}


.presentacion_tarjetas span {
	color: #2CCC2C;
	font-family: 'Lobster', cursive;
	font-size:1.4em;
	height: 200px;
}
	.tarjetas {
		display: flex;
		height: 100vh;
		width: 100vw;
		flex-wrap: wrap;
		box-sizing: border-box;
		justify-content: space-evenly;
		margin:0;		
	}
	.tarjetas .tarjeta .cara {
		width: 300px;
		height: 250px;
		transition: .4s;
		margin: 0;
		opacity: 0.2;
	}
	.tarjetas .tarjeta .cara.cara1 {
		position: relative;
		display: flex;
		align-content: center;
		justify-content: center;
		align-items: center;
		z-index: 1;
		transform: translateY(100px);
		border-radius:5px;
		margin: 0;
	}
	.tarjetas .tarjeta:hover .cara.cara1 {
		transform: translateY(0);	 
		opacity:1; 
	}
	.tarjetas .tarjeta:hover  {
		transform: translateY(0);	 
	}
	.tarjetas .tarjeta .cara.cara1 .contenido {
	
		transition: .5s;
		color: white;	
		margin: 0;
	}
	.tarjetas .tarjeta .cara.cara1 .contenido img {

		display: flex;
		position: relative;
		width: 300px;
		height: 250px;
		transition: .4s;
		border-radius:5px;
		z-index: 6;
		margin: 0;
	}
	.tarjetas .tarjeta:hover .cara.cara1 .contenido img {
		
		transition: 1s;
		border-radius:0;
	}
	.tarjetas .tarjeta .cara.cara2 {
		position: relative;
		background: whitesmoke;
		display: flex;
		padding: 20px;
		box-shadow: 0 20px 50px rgba(0,0,0,.8);
		box-sizing: border-box;
		transform: translateY(-100px);
		opacity: 0;
		margin: 0;
		box-sizing: border-box;
	}
	.tarjetas .tarjeta:hover .cara.cara2 {
		transform: translateY(0);
		opacity: 1;
	}
	.tarjetas .tarjeta .cara.cara2 .contenido p {
		font-size: 15px;
	}
	.tarjetas .tarjeta .cara.cara2 .contenido a {
		position: relative;
		font-size: 12px;
		bottom:-20px;
		border-radius: 1px;
		padding: 5px;
		background-color: #333;
		color: white;
	}
	footer {
			background: #2CCC2C;
			font-size:1rem;
			height: 8em;
			color: whitesmoke;
			width: 100vw;
			display: flex;
			justify-content:center;
			align-items: center;
			} 
			
	footer a {
		text-decoration: none;
	}
footer div {
	text-align: center;
	padding-top: 0.3em;
}
/*Imagen uno y dos lo que hacen es achicar los tamaños de los logos de facebook e instagram, lo comento porque 
ya lo borre una vez sin querer*/
#Informacion_footer {
	background-color: black;
	display: flex;
	width: 100vw;
	height: 30vh;
}
#Informacion_footer div {
	color: ghostwhite;
	display: inline-flex;
	margin: 10px auto;
}
#whatsapp {
	position: fixed;
	bottom: 20px;
	right:20px;
}
svg {
	width: 80px;
	filter: drop-shadow(0 1px 4px rgba(0,0,0,.4));
	color: white;
}
@media (max-width: 500px)
	{
	
		.presentacion_tarjetas {
			margin-bottom:50px;
		}
		body{
		height: 400vh;
		background-position: center 35vh;
		background-size: 50%;
	}
	.tarjetas {
		height: 500vh;
		margin-top:300px;
		background: transparent;
	}
	.tarjetas .tarjeta .cara {
		width: 380px;
		height: 300px;
		transition: .4s;
		margin: 0;
		opacity: 0.2;
	}
	.tarjetas .tarjeta .cara.cara1 .contenido img {

		display: flex;
		position: relative;
		width: 380px;
		height: 300px;
		transition: .4s;
		border-radius:5px;
		z-index: 6;
		margin: 0;
	}
	}

	.section-new {
		height:200vh;
		background: pink;
	}
	.section-new2 {
		height:200vh;
		background: blue;
	}