
/* Esta parte le da el estilo al borde del titulo H1 */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Merriweather', serif;
	scroll-behavior: smooth;
}
body{
	overflow-x: hidden;
	width: 100%;
}

:root {
    --black:#16161a;
    --darkblue: #0F314D;
    --lightblue:#1C5787;
	--darkgreen:#155E16;
	--lightgreen:#22D827;
	--white:#dee0eb;
}
#particles {

	height: 200vh;
}

/* HEADER */
header{
	width: 100%;
}
nav {
		display: flex;
		height: 60px;
		position: fixed;
		width: 100%;
		justify-content: space-between;
		text-align: center;
		transition: all .5s ease;
		z-index:5;
}
.nav-links
{
	display: flex;
	list-style: none;
	width: 50%;
	height: 100%;
	justify-content: space-around;
}
.nav-links>li {
	align-self: center;
}
a{
	color: var(--black);
	text-decoration: none;
	font-size: 18px;
	margin-left:3px;
	font-weight: 50;
	font-family: 'Lobster', cursive;
}
.link {
	color: var(--white);
}
.link:hover {
	background-color: white;
	color: blueviolet;
	padding: 10px;
	border-radius: 10px;
	transition: all .3s ease-in-out;
}
.logo {
	width:100px;
	border-radius: 5px;
}
.clase-js-nav {
	background-color: var(--white);
	transition: all 1s ease;
	border: 1px solid black;
}
.clase-js-nav3 {
	background-color:var(--lightblue);
	border:none;
}
.clase-js-a{
	color:black;
	text-decoration: none;
}
.section-1 {
	background-color:black;
	background-image: url(../Img/logobl.png);
	background-position: center 25vh;
	background-size: 30%;
	background-repeat:no-repeat;
	height: 200vh;
}

@media (max-width:768px) {

	nav {
		position: relative;
		background-color: var(--darkblue);
		z-index:50;
	}
	.hamburguesa {
		position: absolute;
		cursor: pointer;
		right: 5%;
		top:50%;
		transform: translate(-5%,-50%);
		z-index: 2;
	}

	.line {
		width: 30px;
		height: 3px;
		background: white;
		margin: 5px;
	}
	.nav-links {
		position: fixed;
		background-color: var(--lightblue);
		height: 100vh;
		width: 100%;
		flex-direction: column;
		-webkit-clip-path:circle(100px at 90% -20%);
		transition: all 1s ease-out;
		justify-content: flex-start;
	}

	.nav-links.open {
		-webkit-clip-path:circle(1200px at 90% -20%);
		
	}

	.link{
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--white);
		height: 50px;
		width: 100vw;
		border: 1px solid var(--black);
		color:var(--black);
		padding: 5px;
		border-radius: 10px;
		margin-bottom:30px
	}
	.active{
		margin-top:100px;
	}
#particles {
	display:none;
}
}
/* Barra de navegacion principal*/

	/*Aca termina la barra de navegacion principal*/
	

	/*LA SECCION PRINCIPAL SON LOS CUATRO FLYERS CENTRALES*/

	.presentacion_tarjetas {
	color: #fff;
	font-size: 2.5em;
	padding-top:100px;
	padding:100px 0px 0px 0px;
	text-align: center;
	
}


.presentacion_tarjetas span {
	color: var(--lightgreen);
	font-family: 'Lobster', cursive;
	font-size:1.4em;
	height: 500px;
}
	.tarjetas {
		display: flex;
		height: 100vh;
		width: 100vw;
		flex-wrap: wrap;
		box-sizing: border-box;
		justify-content: space-evenly;
		margin:0;		
	}
	.tarjetas .tarjeta .cara {
		width: 300px;
		height: 250px;
		transition: .4s ease;
		margin: 0;
	}
	.tarjetas .tarjeta .cara.cara1 {
		position: relative;
		display: flex;
		align-content: center;
		justify-content: center;
		align-items: center;
		z-index: 1;
		transform: translateY(100px);
		border-radius:5px;
		margin: 0;
	}
	.tarjetas .tarjeta:hover .cara.cara1 {
		transform: translateY(0);	 
	}
	.tarjetas .tarjeta:hover  {
		transform: translateY(0);	 
	}
	.tarjetas .tarjeta .cara.cara1 .contenido {
	
		transition: .5s;
		color: white;	
		margin: 0;
	}
	.tarjetas .tarjeta .cara.cara1 .contenido img {

		display: flex;
		position: relative;
		width: 300px;
		height: 250px;
		transition: .4s;
		border-radius:5px;
		z-index: 6;
		margin: 0;
	}
	.tarjetas .tarjeta:hover .cara.cara1 .contenido img {
		
		transition: 1s;
		border-radius:0;
	}
	.tarjetas .tarjeta .cara.cara2 {
		position: relative;
		background: whitesmoke;
		display: flex;
		padding: 20px;
		box-shadow: 0 20px 50px rgba(0,0,0,.8);
		box-sizing: border-box;
		transform: translateY(-100px);
		opacity: 0;
		margin: 0;
		box-sizing: border-box;
	}
	.tarjetas .tarjeta:hover .cara.cara2 {
		transform: translateY(0);
		opacity: 1;
	}
	.tarjetas .tarjeta .cara.cara2 .contenido p {
		font-size: 15px;
	}
	.tarjetas .tarjeta .cara.cara2 .contenido a {
		position: relative;
		font-size: 12px;
		bottom:-20px;
		border-radius: 1px;
		padding: 5px;
		background-color: #333;
		color: white;
	}
	footer {
			background: #000000;
			font-size:1rem;
			height: 8em;
			color: whitesmoke;
			
			display: flex;
			justify-content:center;
			align-items: center;
			} 
			
	footer a {
		text-decoration: none;
	}
footer div {
	text-align: center;
	padding-top: 0.3em;
}
/*Imagen uno y dos lo que hacen es achicar los tamaños de los logos de facebook e instagram, lo comento porque 
ya lo borre una vez sin querer*/
#Informacion_footer {
	background-color: black;
	display: flex;

	height: 30vh;
}
#Informacion_footer div {
	color: ghostwhite;
	display: inline-flex;
	margin: 10px auto;
}

@media (max-width: 500px)
	{
	
		.presentacion_tarjetas {
			margin-bottom:50px;
		}
		body{
		height: 400vh;
		background-position: center 35vh;
		background-size: 50%;
	}
	.tarjetas {
		height: 500vh;
		margin-top:300px;
		background: transparent;
	}
	.tarjetas .tarjeta .cara {
		width: 380px;
		height: 300px;
		transition: .4s;
		margin: 0;
		opacity: 0.2;
	}
	.tarjetas .tarjeta .cara.cara1 .contenido img {

		display: flex;
		position: relative;
		width: 380px;
		height: 300px;
		transition: .4s;
		border-radius:5px;
		z-index: 6;
		margin: 0;
	}
	}

	.section-2 {
		height:200vh;
		background: rgb(1, 33, 43);
	}
	.section-3 {
		height:200vh;
		background: var(--darkblue);
		display: flex;
		align-items: flex-end;
	}
	.intersection {
		width:100px;
		height: 600px;
		border:1px solid var(--white);
	}