
/* Esta parte le da el estilo al borde del titulo H1 */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Merriweather', serif;
	scroll-behavior: smooth;
}
body{
	overflow-x: hidden;
	width: 100%;
	background: linear-gradient(to bottom, black,var(--lightblue));
	height: 120vh;
	background-size: cover;
	background-repeat: no-repeat;
}
.fill {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20vh;
	width: 100%;
	background-color:black;
}
.fill-2, #fill-3{
	height: 200px;
	background-color: black;
}
#fill-3{
	height: 10em;
}
.fill-4{
	height: 200px;
	background-color: var(--lightblue);
}
:root {
    --black:#16161a;
	--gris:rgba(65, 59, 59, 0.61);
    --darkblue: #0F314D;
    --lightblue:#1C5787;
	--darkgreen:#155E16;
	--lightgreen:#22D827;
	--white:#ffffff;
}
#particles {
	height: 120vh;
}

/* HEADER */
header{
	width: 100%;
}
.section-landing {
	background-image: url(../Img/logobl.png);
	background-position: center 25vh;
	background-size: 30%;
	background-repeat:no-repeat;
}





/* Todo lo referente a la barra de navegacion */




nav {
		display: flex;
		height: 50px;
		position: fixed;
		width: 100%;
		justify-content: space-between;
		text-align: center;
		transition: all .5s ease;
		z-index:10;
}
#home {
	width: 50px;
	padding-top:10px;
	margin-left:20px;
}
.nav-links
{
	display: flex;
	list-style: none;
	width: 60%;
	height: 100%;
	justify-content: space-around;
}
.nav-links>li {
	display: flex;
	position: relative;
	align-items: center;
	text-align: center;
	height: 100%;
	border: 2px solid transparent;
}

.nav-links>li::after {
	content: '';
	position: absolute;
	bottom:0;
	left:0;
	width: 0%;
	height: 5%;
	background:white;
}

.nav-links>li:hover::after{
	width: 100%;
	transition: all 1s ease;
}

a{
	color: var(--white);
	text-decoration: none;
	width: 100%;
	font-size: 15px;
	font-weight: bold;
	padding: 2px 5px 2px 5px;
	border-radius: 10px;
	border:1px solid rgba(0, 0, 0, 0);	
}
a:hover {
	transition: all .5s ease;

}
.link {
	color: white;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
}
.link:hover {
	transition: all .5s ease-in-out;
}

.clase-js-nav {
	background-color: var(--lightblue);
	transition: all 1s ease;
	color:white;
}
.clase-js-nav3 {
	background-color:var(--lightblue);
	border:none;
}


.dropdown-planes {
	display: none;
	transition: all .5s ease;
}

.nav-links>li:hover .dropdown-planes {
	position:absolute;
	display: flex;
	flex-direction: column;
	top:45px;
	transition: all .5s ease;
	border:2px solid transparent;
	background-color: rgba(0,0,0, .5);
	width: 100%;
}

.dropdown-planes>li {
	margin-bottom:15px;
	list-style: none;
	position: relative;
	height: 40px;

}

.dropdown-planes>li::after {
	content:'';
	position: absolute;
	bottom:0;
	left:0;
	height: 5%;
	width: 0;
	background-color:turquoise;
}
.dropdown-planes>li:hover::after {
	width: 100%;
	transition: all 1s ease;
}

.dropdown-planes>li>a {
	color:white;
	display: block;
	margin-top:5px;
}

.dropdown-planes>li>a:hover {
	color:white;
}


/*H1 FILL*/

h1{
	text-align: center;
	color: white;
	text-shadow: 2px 2px 4px black;
	font-size: 2em;
}


/*Seccion de servicios*/




.servicios {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: fit-content;
	background:linear-gradient(to top, var(--lightblue),black);
}
.card.container{
	position: relative;
	width: 20em;
	height: 100vh;
}
.servicios-card{
	display: flex;
	position: absolute;
	flex-direction: column;
	border-radius:10px;
	width: 20em;
	height: 80%;
	box-shadow:0px 10px 10px black;
	background-image: url(../Img/gabinete-photo.jpg);
	background-size:cover;
	transform-style: preserve-3d;
	transition: all 1s ease-in-out;
}
.servicios-card:hover{
	transform: rotateY(180deg);
}
.servicios-card-back
{
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	height: 100%;
	background-color: var(--darkblue);
	backface-visibility: hidden;
	transform: rotateY(180deg);
	color: white;
	padding:20px
}
.servicios-card.b
{
	box-shadow:0px 10px 10px black ;
	background-image: url(../Img/fotocopiadora.jpeg);
	background-size:cover;
}

.servicios-card.c
{
	box-shadow:0px 10px 10px black ;
	background-image: url(../Img/comedor.jpeg);
	background-size:cover;
	background-repeat: no-repeat;
}
.servicios-card.d
{
	box-shadow:0px 10px 10px black ;
	background-image: url(../Img/local.jpeg);
	background-size:cover;
	background-repeat: no-repeat;
}
.servicios-card-h2{
	padding: 10px;
	height: 2em;
	color:white;
	box-shadow:1px 3px 5px  black ;
	text-align: center;
	border: 1px solid black;
	background-color: var(--lightblue);
}
.servicios-img {
	width: 20em;
	border-radius: 10px;
	padding-top: 2px;
}

/* Aca comienza la seccion de news */



.news {
	display: flex;
	position: relative;
	flex-direction: column;
	background-color: black;
	height: fit-content;
}
.news-container{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.news-carrousel{
	position: relative;
	left:5%;
	width: 70%;
	max-width: 120em;
	overflow: hidden;
	border-radius:5px;
}

.news-carrousel .news-grande {
	width: 200%;
	height: 80vh;
	border-radius:5px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	transition: all .5s ease;
	transform: translateX(0%);
}

.news-carrousel .img{
	width: calc(100% / 2);
	height: 100%;
	border-radius:5px;
	box-shadow: 1px 1px 4px 0px black;
}

.news-carrousel .news-puntos {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: .2em;
	display: flex;
	flex-flow:row nowrap;
	justify-content: center;

}

.news-carrousel .news-punto {
	width: 1em;
	height: 1em;
	margin: .5em;
	background: rgb(238, 246, 251);
	box-shadow: 0px 2px 4px 0px black;
	border-radius:15px;
	list-style: none;
}

.news-carrousel .news-punto.activo {
	background: var(--lightblue);
}
.news-secundarias{
	display: flex;
	flex-direction: column;
	width: 290px;
	height: 90%;
	gap: 20px;
	
}
.new-s {
	display: flex;
	width: 100%;
	height: 130px;
	z-index: 5;
	border-radius: 5px;
	box-shadow: 20px 10px 20px black;
	background: var(--black);
	overflow: hidden;
	transition: all .5s ease;
	border: 1px solid grey;
}
.new-s:hover{
	transform: translateY(-5px);
}
.new-s-img{
	width: 40%;
	overflow: hidden;
}
.new-s-img>img{
	width: 100%;
	height: 100%;
	transition: all 1s ease;
}
.new-s-img>img:hover{
	width: 105%;
	height: 105%;
}
.new-s-div{
	display: flex;
	width: 60%;
	padding: 10px;
	justify-content: space-around;
	flex-direction: column;
	
}
.new-s-div h3{
	color: white;
	text-align: center;
}
.new-s-link{
	color: white;
	width: fit-content;
	height: 50px;
	align-self: center;
	height: fit-content;
	background-color: var(--lightblue);
}
.new-s.a{
	top:75%;
}
.new-s.b{
	top:50%;
}
.new-s.c{
	top: 25%;
}
.new-s.titulo-grande{
	position: absolute;
	bottom: 10%;
	left: 10%;
	width: 60%;
	background: none;
	box-shadow: none;
	overflow: visible;
	border: none;
}
.new-s.titulo-grande>div{
	width: 100%;
	font-size:40px;
	text-shadow: 2px 2px 4px black;
}
.new-s.titulo-grande>div>h3{
	color: white;
}




/* Seccion de becas*/




	.becas{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: fit-content;
		width: 100%;
		background: linear-gradient(to top, black,var(--lightblue));
	}

	.becas-h2
	{
		width: 100%;
		text-align: center;
		font-size: 3em;
		color: white;
		text-shadow: 2px 2px 4px black;
		padding: 1em 0 1em 0;
		background-color: black;
	}
	
	.becas-container{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		padding: 30px;
		gap: 20px;
		border-radius: 10px;
		border: 1px solid var(--darkblue);
		
	}

	
	.intersection
	{
		position: relative;
		width: 35em;
		height: 28.5em;
		padding: 10px;
		gap:40px;
		font-size:1em;
		border-radius: 10px;
		display: flex;
		text-align: center;
		flex-direction: column;
		
		
	}
.intersection-h2 {
	font-size: 2.5em;
	padding-top: 30px;
}
	.intersection-h2, .intersection-h3{
		color: var(--white);

	}

	#becas-links {
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		bottom: 10px;
		left: 30%;
		gap:20px;
	}
	.tarjeta-link-1, .tarjeta-link-2 {
		border: none;
		border-radius: 10px;
		padding: 13px;
		width: fit-content;
		height:50px;
		font-size: 15px;
		font-weight: bold;
	}
	.tarjeta-link-1{

		color: white;
		background-color: var(--lightblue);
	}
	


	#tarjeta-link-2
	{
		color: white;
		background-color: var(--lightblue);
	}

	#tarjeta-link-2:hover {
		color: var(--lightblue);
		background-color: white;
		border-radius: 10px;
		
	}

	.tarjeta-link-1:hover {
		color: var(--lightblue);
		background-color: var(--white);
		transition: all .5s ease;
	} 
	
	.intersection-text {
		margin: 0px 20px 0px 20px;
		text-align: start;
		color: white;
		
	}

	.resaltar {
		color: rgb(255, 15, 15);
		text-shadow: none;
		font-weight: bold;
	}

	
	
	.becas-carrousel{
		width: 35em;
		height: 30em;
		position: relative;
		max-width: 120em;
		border-radius:15px;
		overflow-x: hidden;
	}

	.becas-carrousel .punto.activo {
		background: var(--lightblue);
	}
	.becas-carrousel .grande {
		width: 400%;
		border-radius:15px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		transition: all .5s ease;
		transform: translateX(0%);
	}

	.becas-carrousel .img{
		width: calc(100% / 4);
		height: 30em;
		border-radius:15px;
		box-shadow: 1px 1px 4px 0px black;
	}

	.becas-carrousel .puntos {
		width: 100%;
		position: absolute;
		bottom: 0;
		display: flex;
		flex-flow:row nowrap;
		justify-content: center;
	
	}

	.becas-carrousel .punto {
		width: 1em;
		height: 1em;
		margin: .5em;
		background: rgb(240, 240, 240);;
		box-shadow: 0px 2px 4px 0px black;
		border-radius:15px;
		list-style: none;
	}

	.becas-carrousel .punto.activo {
		background: var(--lightblue);
	}




	/*Seccion de informacion*/



#informacion
	{
		height: fit-content;
		background: linear-gradient(to top, black,var(--lightblue));
		background-size: cover;
	}

	.informacion-title, .news-h2 {
		text-align: center;
		font-size: 3em;
		padding: 1em;
		height: 3em;
		width: 100%;
		
		color: rgb(240, 240, 240);
		text-shadow: 2px 2px 4px black;
	}
	
	.informacion-container{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap:5px;
		padding: 30px;
		color: rgb(240, 240, 240);
		text-shadow: 1px 1px 2px black;

	}
	#informacion-container:hover> .informacion-div::after{
		opacity:1;
	}
	
	.informacion-div {
		display: flex;
		flex-direction: column;
		position: relative;
		height: 250px;
		width: 18em;
		border-radius:10px;
		border: 1px solid rgba(255, 255, 255, 0.3);
		box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.3);
		padding:5px;
	}
	

	.informacion-div::before, .informacion-div::after{
		content:'';
		position: absolute;
		top:0px;
		left: 0px;
		border-radius: inherit;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: opacity 0.05ms;
	}
	.informacion-div::before{
		background: radial-gradient(
			650px circle at var(--mouse-x) var(--mouse-y),
			rgba(255,255,255,0.05),
			transparent 40%
		);
		z-index: 3;
	}

	.informacion-div:hover::before {
		opacity:1;
	}

	.informacion-div::after{
		background: radial-gradient(
			400px circle at var(--mouse-x) var(--mouse-y),
			rgba(255,255,255,0.05),
			transparent 40%
		);
		z-index: 1;
	}

	.informacion-h3 {
		padding: 1em 0 .5em 0;
		font-size:1.3em;
		text-align: center;
		background: var(--lightblue);
		height: 3em;
		text-shadow: none;
		color: white;
		text-shadow: 1px 1px 2px black;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	.informacion-p{
		height: 3em;
		padding: 1em 1em 1em 1em;
		color: rgb(240, 240, 240,0.9);
		font-weight: bold;
		font-size: 15px;
		border-radius:inherit;
	}
	.informacion-a,.informacion-a-g{
		position: relative;
		z-index: 6;
		top:25%;
		padding: 1em 1em 1em 1em;
		font-size: 16px;
		margin: 0;
		color: white;		
		text-decoration: underline;
	}
	.informacion-a-g{
		padding:0;
		display: block;
		width: fit-content;
	}
	.informacion-a:hover, .informacion-a-g:hover {
			color: red;
			text-decoration: underline;
			border:0;
	}

	#section-5{
		background: black;
	}
	




	/*Seccion del footer*/





	footer {
		width: 100%;
		flex-direction: column;
		} 
		


#Informacion_footer {
display: flex;
justify-content: space-around;
height: 80%;
width: 100%;
background:black;
}

.footer-div {
	display: flex;
	font-size: 15px;
	padding: 10px;
	gap: 10px;
	flex-direction: column;
	color: ghostwhite;
	width:calc(100%/4);
	border-right:1px solid rgba(255, 255, 255, 0.3);
}
.footer-div:last-child
{
	border-right:none;
}

.footer-div>h4 {
	text-shadow: 1px 1px 2px black;
}

.footer-div.mapa {
flex-direction: column;
gap: 10px;
font-size: 15px;
padding: 10px;
}


.footer-div.mapa p {
	font-size: 12px;
}
.footer-div.redes{
display: flex;
font-size: 15px;
padding: 10px;
gap: 10px;
flex-direction: column;
}
.footer-div.redes ul {
display: flex;
gap: 20px;
}
.footer-div.redes li {
position: relative;
display: flex;
justify-content: center;
align-items: center;
border: 1px solid rgba(255, 255, 255, 0.3);
list-style: none;
backdrop-filter: blur(10px);
border-radius: 5px;
margin: 0;
width: 40px;
height: 40px;
overflow: hidden;

}

.footer-div.redes a {
text-align: center;
font-size: 25px;
border: none;
}

.footer-div.redes li::before{

	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	transform: skewX(45deg) translateX(80px);
	transition: all .5s ease;
	}
	
	
	.footer-div.redes li:hover::before{
	transform: skewX(45deg) translateX(-80px);
	}

.footer-div.enlaces {
display: flex;
flex-direction: column;
gap: 20px;
font-size: 15px;
padding: 10px;
}

.footer-div.enlaces li{
list-style: none;
display: flex;
}

.footer-div.enlaces a {
	font-weight: 50;
}

.footer-div.enlaces a:hover {
	border:1px solid transparent;
	color: red;
}

.copyright {
	background-color: black;
	height: 70px;
	color: white;
	text-align: center;
}







::-webkit-scrollbar {
	background: linear-gradient(to top, var(--lightblue), black)
}


::-webkit-scrollbar-thumb {
	background: var(--black);
	border-radius: 10px;
	border: 1px solid grey;

}
.footer-div.contacto{
	display: flex;
	justify-content: start;
	width: 30%;
}
.footer-div.contacto>a{
	padding: 0;
	margin: 0;
	display: flex;
	text-align: start;
	width: fit-content;
}
.footer-div.contacto h4{
	width: fit-content;
}



/*AJUSTES PARA LA VERSION MOBILE*/





@media (max-width:768px) {
	body {
		height: 120vh;
	}
	.section-landing {
		height: 100vh;
	}
	#particles
	{
		height: 100vh;
	}
	nav {
		position: relative;
		background-color: var(--darkblue);
	}
	.hamburguesa {
		position: absolute;
		cursor: pointer;
		right: 5%;
		top:50%;
		transform: translate(-5%,-50%);
		z-index: 2;
	}
	#home {
		display: none;
	}

	.line {
		width: 30px;
		height: 3px;
		background: white;
		margin: 5px;
	}
	.nav-links {
		background-color: var(--lightblue);
		height: 100vh;
		width: 100%;
		flex-direction: column;
		clip-path: circle(100px at 90% -20%);
		-webkit-clip-path:circle(100px at 90% -20%);
		transition: all 1s ease-out;
		justify-content: flex-start;
	}

	.nav-links.open {
		clip-path: circle(1500px at 90% -20%);
		-webkit-clip-path:circle(1500px at 90% -20%);
		
	}

	.link{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50px;
		width: 100vw;
		color:var(--white);
		padding: 5px;
		margin-bottom:30px
	}
	.active{
		margin-top:100px;
	}
	.section-2{
		height:400vh;
	}
	
	/* SERVICIOS */
	.card.container{
		height: 30vh;
	}
	.card.container:hover{
		height: 60vh;
	}
	.servicios-card{
		height: 100%;
		
	}
	
	/*NOTICIAS*/
	.news-container{
		justify-content: center;
	}
	.news-h2{
		font-size: 2em;
		padding: 1em;
	}
	.new-s.titulo-grande{
		width: 100vw;
		left: 0;
		bottom: 15%;
	}
	.titulo-array{
		font-size: 1em;
	}
	.news-carrousel{
		width: 100%;
		height: 100%;
		left: 0;
		margin-bottom:1em;
	}
	.news-carrousel .news-grande {
		height: 50vh;
	}
	#news-secondary{
		width: 100%!important;
	}
	
	/*SECTION 3*/

	.becas {
		height: fit-content;
	}

	.becas-h2 {
		font-size: 2em;
		padding:1em .5em 1em .6em;
	}
	
	.becas-container {
		width: 100%;
		padding:0;
		gap:0;
	}
	.becas-carrousel{
		width: 100%;
		height: fit-content;
		
	}
	.becas-carrousel .grande {
		height: 20em;
		padding-bottom: 10px;
	}
	.becas-carrousel .img {
		height: 100%;
	
	}
	.becas-carrousel .puntos{
		bottom: 5%;
	}
	.intersection{
		width: 100%;
		height: 15em;
		gap:10px;
		border: 1px solid grey;
	}
	.intersection-h2 {
		font-size: 1.5em;
		padding-top: 10px;
	}
	.intersection-h3 {
		font-size: 1em;
	}
	.intersection-text {
		font-size: .8em;
	}
	#becas-links{
		left:20%;
	}
	.tarjeta-link-1, .tarjeta-link-2 {
		font-size: .7em;
		height: 35px;
		padding: .8em .5em .8em .5em; 
	}

	/*SECTION 4*/
	#informacion
	{
		height: fit-content;
	}
	.informacion-title{
		font-size: 2em;
		padding:1em;
	}
	.informacion-container{
		gap: 30px;
	}
	.informacion-div {
		width: 100%;
		height:22em;
		gap:1.8em;
	}
	.informacion-h3{
		display: flex;
		font-size: 1.5em;
		justify-content: center;
		align-items: center;
		padding: 0;
	}
	
	.informacion-p, .informacion-a{
		font-size: 1em;
	}

	/* Footer */
	#Informacion_footer{
		height: 70%;
	}
	.footer-mapa {
		display: none;
	}

	.footer-div.redes ul {
		flex-direction: column;
		}

	.footer-div.contacto{
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
	}
	.footer-div.contacto a{
		font-size: 10px;
	}
}



