*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

nav {
	display: flex;
	height: 50px;
	position: fixed;
	width: 100%;
	justify-content: space-between;
	text-align: center;
	transition: all .5s ease;
	z-index:5;
}

#home {
	width: 50px;
	padding-top:10px;
}

.nav-links
{
display: flex;
list-style: none;
width: 60%;
height: 100%;
justify-content: space-around;
}
.nav-links>li {
display: flex;
position: relative;
align-items: center;
text-align: center;
height: 100%;
border: 2px solid transparent;
}

.nav-links>li::after {
content: '';
position: absolute;
bottom:0;
left:0;
width: 0%;
height: 5%;
background:turquoise;
}

.nav-links>li:hover::after{
width: 100%;
transition: all 1s ease;
}

a{
color: var(--white);
text-decoration: none;
font-family: 'Lobster', cursive;
width: 100%;
font-size: 18px;
font-weight: 50;
padding: 2px 5px 2px 5px;
border-radius: 10px;
border:1px solid rgba(0, 0, 0, 0);	
}
a:hover {
transition: all .5s ease;
border:1px solid grey;	
}
.link {
color: var(--black);
text-decoration: none;
font-size: 18px;
font-weight: 50;
font-family: 'Lobster', cursive;
}
.link:hover {
color: var(--lightblue);
transition: all .5s ease-in-out;
}

.clase-js-nav {
background-color: var(--white);
transition: all 1s ease;
border: 2px solid var(--lightblue);
}
.clase-js-nav3 {
background-color:var(--lightblue);
border:none;
}
.clase-js-a{
color:black;
text-decoration: none;
}

.dropdown-planes {
display: none;
transition: all .5s ease;
}

.nav-links>li:hover .dropdown-planes {
position:absolute;
display: flex;
flex-direction: column;
top:50px;
transition: all .5s ease;
border:2px solid transparent;
}

.dropdown-planes>li {
margin-bottom:15px;
list-style: none;
position: relative;
height: 40px;
}

.dropdown-planes>li::after {
content:'';
position: absolute;
bottom:0;
left:0;
height: 5%;
width: 0;
background-color:turquoise;
}
.dropdown-planes>li:hover::after {
width: 100%;
transition: all 1s ease;
}

.dropdown-planes>li>a {
color:white;
display: block;
margin-top:5px;
}

.dropdown-planes>li>a:hover {
color:white;
}

::-webkit-scrollbar {
	background: linear-gradient(to top, var(--lightblue), black)
}


::-webkit-scrollbar-thumb {
	background: var(--black);
	border-radius: 10px;
	border: 1px solid grey;

}
#empty{
	height: 100vh;
}
#empty2{
	height: 100vh;
}