* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Merriweather', serif;
	scroll-behavior: smooth;
}
body{
	overflow-x: hidden;
	width: 100%;
	background: linear-gradient(to bottom, black, #0d2941,var(--lightblue));
	height: 120vh;
}
.fill
{
	height: 20vh;
	background-color: var(--lightblue);
}
.carreras{
	width: 100vw;
}
.carreras-div {
	display: flex;
	flex-wrap: wrap;
	gap:10px;
	justify-content: center;
}

.carrera {
	color: white;
	text-shadow: 2px 2px 4px black;
	padding: 10px;
	border: 1px solid grey;
	border-radius: 10px;
}
:root {
    --black:#16161a;
	--gris:rgba(65, 59, 59, 0.61);
    --darkblue: #0F314D;
    --lightblue:#1C5787;
	--darkgreen:#155E16;
	--lightgreen:#22D827;
	--white:#ffffff;
}
#particles {
	height: 150vh;
}

/* HEADER */
header{
	width: 100%;
}

nav {
		display: flex;
		height: 50px;
		position: fixed;
		width: 100%;
		justify-content: space-between;
		text-align: center;
		transition: all .5s ease;
		z-index:5;
		background: white;
}
#home {
	width: 50px;
	padding-top:10px;
}
.nav-links
{
	display: flex;
	list-style: none;
	width: 60%;
	height: 100%;
	justify-content: space-around;
}
.nav-links>li {
	display: flex;
	position: relative;
	align-items: center;
	text-align: center;
	height: 100%;
	border: 2px solid transparent;
}

.nav-links>li::after {
	content: '';
	position: absolute;
	bottom:0;
	left:0;
	width: 0%;
	height: 5%;
	background:turquoise;
}

.nav-links>li:hover::after{
	width: 100%;
	transition: all 1s ease;
}

a{
	color: var(--white);
	text-decoration: none;
	width: 100%;
	font-size: 15px;
	font-weight: bold;
	padding: 2px 5px 2px 5px;
	border-radius: 10px;
	border:1px solid rgba(0, 0, 0, 0);	
}
a:hover {
	transition: all .5s ease;
	border:1px solid grey;	
}
.link {
	color: var(--black);
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;

}
.link:hover {
	transition: all .5s ease-in-out;
}

.clase-js-nav {
	background-color: var(--white);
	transition: all 1s ease;
	border: 2px solid var(--lightblue);
}
.clase-js-nav3 {
	background-color:var(--lightblue);
	border:none;
}
.clase-js-a{
	color:black;
	text-decoration: none;
}

.dropdown-planes {
	display: none;
	transition: all .5s ease;
}

.nav-links>li:hover .dropdown-planes {
	position:absolute;
	display: flex;
	flex-direction: column;
	top:45px;
	transition: all .5s ease;
	border:2px solid transparent;
	background-color: rgba(0,0,0, .5);
	width: 100%;
}

.dropdown-planes>li {
	margin-bottom:15px;
	list-style: none;
	position: relative;
	height: 40px;

}

.dropdown-planes>li::after {
	content:'';
	position: absolute;
	bottom:0;
	left:0;
	height: 5%;
	width: 0;
	background-color:turquoise;
}
.dropdown-planes>li:hover::after {
	width: 100%;
	transition: all 1s ease;
}

.dropdown-planes>li>a {
	color:white;
	display: block;
	margin-top:5px;
}

.dropdown-planes>li>a:hover {
	color:white;
}


h1 {
	text-align: center;
	color: white;
	font-size: 3em;
	text-shadow: 2px 2px 4px black;
	padding:1em;
}

.electronica, .mecanica, .industrial, .civil, .quimica, .electrica{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 150vh;
	width: 100%;
	background:linear-gradient(to bottom, black,var(--darkblue));
}

.electronica-h2
{
	font-size: 4em;
	color: var(--black);
	padding: 20px;
}
.electronica-container,.mecanica-container,.industrial-container,.quimica-container,.civil-container,.electrica-container
{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 0px 10px 0px 10px;
	justify-content: space-between;
	gap: 20px;
	border-radius: 10px;
	background:linear-gradient(to bottom, black,var(--darkblue));

}


.electronica-info,.mecanica-info,.industrial-info,.quimica-info,.civil-info,.electrica-info
{
	position: relative;
	width: 55%;
	height: 100%;
	padding: 30px;
	border-radius: 10px;
	display: flex;
	gap:20px;
	text-align: center;
	flex-direction: column;
	box-shadow: 0px 1px 3px 0px black;
	background:linear-gradient(45deg, white,darkgrey);
	color: white;
}
.electronica-info-h2,.mecanica-info-h2,.industrial-info-h2,.quimica-info-h2,.civil-info-h2,.electrica-info-h2{
font-size: 3em;
}
.electronica-info-h3,.mecanica-info-h3,.industrial-info-h3,.quimica-info-h3,.civil-info-h3,.electrica-info-h3,.electronica-info-h2,.mecanica-info-h2,.industrial-info-h2,.quimica-info-h2,.civil-info-h2,.electrica-info-h2{
	color: var(--black);

}



.electronica-info-text,.mecanica-info-text,.industrial-info-text,.quimica-info-text,.civil-info-text,.electrica-info-text {
	margin: 0px 20px 0px 20px;
	text-align: start;
	color: black;
	font-weight: bold;
}

.resaltar {
	color: rgb(167, 12, 12);
	text-shadow: none;
	font-weight: bold;
}

.electronica-carrousel,.mecanica-carrousel,.industrial-carrousel,.civil-carrousel,.quimica-carrousel,.electrica-carrousel
{
	width: 500px;
	height: 600px;
	position: relative;
	max-width: 120em;
	border-radius:15px;
	overflow-x: hidden;
}

.electronica-carrousel .electronica-grande, .mecanica-carrousel .mecanica-grande,.industrial-carrousel .industrial-grande,.electrica-carrousel .electrica-grande {
	width: 500%;
	border-radius:15px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	transition: all .5s ease;
	transform: translateX(0%);
}

.civil-carrousel .civil-grande,.quimica-carrousel .quimica-grande
{
	width: 600%;
	border-radius:15px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	transition: all .5s ease;
	transform: translateX(0%);
}

.electronica-carrousel .img, .mecanica-carrousel .img,.industrial-carrousel .img,.electrica-carrousel .img{
	width: calc(100% / 5);
	min-height: 100%;
	max-height: 70%;
	border-radius:15px;
	box-shadow: 1px 1px 4px 0px black;
}

.civil-carrousel .img,.quimica-carrousel .img{
	width: calc(100% / 6);
	min-height: 100%;
	max-height: 70%;
	border-radius:15px;
	box-shadow: 1px 1px 4px 0px black;
}

.electronica-carrousel .electronica-puntos,.mecanica-carrousel .mecanica-puntos,.industrial-carrousel .industrial-puntos,.civil-carrousel .civil-puntos,.quimica-carrousel .quimica-puntos,.electrica-carrousel .electrica-puntos {
	width: 100%;
	padding: .2em;
	display: flex;
	flex-flow:row nowrap;
	justify-content: center;

}

.electronica-carrousel .electronica-punto, .mecanica-carrousel .mecanica-punto,.industrial-carrousel .industrial-punto,.civil-carrousel .civil-punto,.quimica-carrousel .quimica-punto,.electrica-carrousel .electrica-punto {
	width: 1em;
	height: 1em;
	margin: .5em;
	background: rgb(240, 240, 240);;
	box-shadow: 0px 2px 4px 0px black;
	border-radius:15px;
	list-style: none;
}

.electronica-carrousel .electronica-punto.activo, .mecanica-carrousel .mecanica-punto.activo ,.industrial-carrousel .industrial-punto.activo ,.civil-carrousel .civil-punto.activo ,.quimica-carrousel .quimica-punto.activo ,.electrica-carrousel .electrica-punto.activo {
	background: var(--lightblue);
}


@media (max-width:768px) {
	body {
		height: 120vh;
	}
	.section-1 {
		height: 100vh;
	}
	#particles
	{
		height: 100vh;
	}
	nav {
		position: relative;
		background-color: var(--darkblue);
	}
	.hamburguesa {
		position: absolute;
		cursor: pointer;
		right: 5%;
		top:50%;
		transform: translate(-5%,-50%);
		z-index: 2;
	}
	#home {
		display: none;
	}

	.line {
		width: 30px;
		height: 3px;
		background: white;
		margin: 5px;
	}
	.nav-links {

		background-color: var(--lightblue);
		height: 100vh;
		width: 100%;
		flex-direction: column;
		clip-path: circle(100px at 90% -20%);
		-webkit-clip-path:circle(100px at 90% -20%);
		transition: all 1s ease-out;
		justify-content: flex-start;
	}

	.nav-links.open {
		clip-path: circle(1500px at 90% -20%);
		-webkit-clip-path:circle(1500px at 90% -20%);
		
	}

	.link{
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--white);
		height: 50px;
		width: 100vw;
		color:var(--black);
		padding: 5px;
		border-radius: 10px;
		margin-bottom:30px
	}
}