body{
	height: fit-content;
	background-color: black;
}

nav {
	position: relative;
}
.section-news {
	display: flex;
	flex-wrap: wrap;
	background: linear-gradient(to bottom, black,var(--darkblue));
	gap: 20px;
	align-items: start;
	width: 100%;
	height: fit-content;
}

nav{
	background: var(--lightblue);
}




article{
	display: flex;
	flex-direction: column;
	width: 70%;
	margin-left: 1%;
	margin-top:1%;
}
.news-date{
	text-align: end;
	color: white;
}
h1{
	color: white;
	font-size: 3em;
	padding: .5em 0 .5em 0;
}

.news-image
{
	background-size: cover;
	width: 100%;
	height: 20em;
	overflow: hidden;
	
}
.news-image>img{
	width: 100%;

}
.news-subtitle{
	color: white;
	font-size: 1.3em;
	padding: 0 2em 1em 2em;
}
.news-text{
	color: white;
	padding: 1em 2em 1em 2em;
	font-size:1em;
}

#news-secondary{
	align-self: flex-end;
	width: 25%;
}
.new-s-title{
	color: white;
}
.new-s {
	margin-bottom: 5%;
	width: 100%;
}


@media (max-width:768px) {

	.section-news{
		width: 100%;
	}
	article
	{
		width: 100%;
	}
	nav{
		background-color: var(--darkblue);
	}
	.clase-js-nav {
		position: relative;
		background-color: var(--darkblue);
	}
	.hamburguesa {
		position: absolute;
		cursor: pointer;
		right: 5%;
		top:50%;
		transform: translate(-5%,-50%);
		z-index: 2;
	}
	#home {
		display: none;
	}

	.line {
		width: 30px;
		height: 3px;
		background: white;
		margin: 5px;
	}
	.nav-links {
		background-color: var(--lightblue);
		height: 100vh;
		width: 100%;
		flex-direction: column;
		clip-path: circle(100px at 90% -20%);
		-webkit-clip-path:circle(100px at 90% -20%);
		transition: all 1s ease-out;
		justify-content: flex-start;
	}

	.nav-links.open {
		clip-path: circle(1500px at 90% -20%);
		-webkit-clip-path:circle(1500px at 90% -20%);
		
	}
	.link{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50px;
		width: 100vw;
		color:var(--white);
		padding: 5px;
		margin-bottom:30px
	}
}