/* Esta parte le da el estilo al borde del titulo H1 */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	box-sizing: inherit;
}
html {
	font-size: 16px;

}


h1 {
				/* Esto esta bueno para aprender a darle color a los bordes*/
				/*Esto se refiere a la caja del H1 */
	border: none;
	margin: 0.5em auto; /* El AUTO es para centrarlo de manera horizontal*/
	padding: 1rem;
	background-image: url(nosotros.jpg);
	background-size: contain;
	-webkit-text-stroke: 2px black;
 	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	/*Y esto se refiere a la letra del H1*/
	color: transparent; 
	line-height: 1;
	text-align: center;
	font-family: impact, sans-serif;
	font-size: 5em;
	font-weight: 100;
	overflow: auto;
	transition: color 1s;
	}


	body {
		background-color: #1d1f21;
		background-attachment: fixed;
		background-size: no-repeat;
		background-size: 100%;
	/*	background: -webkit-linear-gradient(to right, rgb(26,110,175,0.3)),url(25101.jpg);
		background: linear-gradient(to left, rgba(26,110,175,0.3) 15%, rgba(36,120,171,0.3) 31%, rgba(35,87,195,0.3) 47%, rgba(104,52,162,0.3) 70%),url(25101.jpg);
		*/
		
		}


	nav {
		display: inline-flex;
		margin: 1em;
		border-radius: 0.5em;
		}

	nav a {
		padding: 0.3em;
		margin: 0.1em;
		color: #fff;
		display: inline-block;
		border-radius: 0.3em;
	}
	nav a:hover {
		background-color: #2357c3;
	}


	li {
		list-style-type: none;
		padding-right: 25px;
		display: inline-block;
		font-size: 150%;
		}
					
	.contenedora_total 
	{ 	background-color: ##1d1f21;
		display: inline-flex;
		background-size: 90em;		
		border-radius: 0.5em;			
	}
					
	.caja_izquierda_contenedora
		{
		background-color: #1d1f21;
		display: inline-flex;
		margin-left: 1%;
		width: 70%;
		border-radius: 0.5em;
		}

	.caja_izquierda_contenedora div 
	{ 	background-color: ##1d1f21;					
		width: 25%;
		display: initial;
		color: whitesmoke;
		margin-left: 5%;
		padding: 0.5rem;
		border-radius: 0.5em;
		
	}
	#first-child-izquierda-contenedora
	{ 	
	color: whitesmoke;
	text-align: center;
	padding: 0%;
	padding-bottom: 1%;
	font-family: Noto Sans SC,sans-serif;
	font-weight: 700;
	}

	#texto_especial
	{
		display: initial;
		border: none;
		padding-top: 1em;
		margin-top: 1em;
	}

	.caja_izquierda_contenedora div img 
	{
		border-radius: 0.5em;
		float: left;
		width: 100%;
		height: 40%;
		min-height: 1em;
		min-height: 15rem;
		padding-bottom: 10%;
	}


	.caja_derecha
	{	
		display: inline-flex;
		color: black;
		border-radius: 0.5em;
		width: 30%
	}

	.caja_derecha div 
	{	background-color: #1d1f21;
		color: whitesmoke;
		border-radius: 0.5em;
		margin: 0.1%;
		margin-top: 1%;
		padding: 1%;
		overflow: auto;
		height: 100%;
		width: 100%;

	}

	.caja_derecha div:first-letter 
	{
		color: blueviolet;
		font-family: gotic;
		font-size: 5em;
	}

	.caja_derecha div::selection {
		color: white;
		background-color: black;
	}
						 

						 /* Float nos ayuda a acomodar una caja dentro de otra, en este caso nos acomoda la imagen y el texto la envuelve*/
	

	.caja_izquierda_contenedora div:hover 
		{	
			box-shadow: 0 0.2rem 0.2rem 0.2rem lightgrey;
		}
	.caja_derecha div:hover 
		{
			box-shadow: 0 0.2rem 0.2rem 0.2rem lightgrey;
		}

	
	#texto_especial:hover {
		border: none;
		box-shadow: none;
	}

	@media (max-width: 800px)
		{
			.contenedora_total 
				{
				display: block;
				width: 100%;
				}
			.caja_izquierda_contenedora
			{
				display: block;
				width: 100%;
			}
			.caja_izquierda_contenedora div 
			{
				display: block;
				
				width: 90%;
				
			}
			.caja_derecha 
			{
				width: 95%;
			}
			h1 {
				background-size: contain;
			}
			body {
				background-size: contain;
				background-repeat: repeat-y;
			}
		}

	article {
				 font-size: 1em;
				 color: whitesmoke;
				 background-color: none;
				 border-radius: 0.5em;
				 margin: 2rem;
			}



	footer {
			background-color: #1a4279;
			font-size: 1.5rem;
			height: 2em;
			color: whitesmoke;
			padding: 0;
			margin: 0;
		   }
footer div {
	text-align: right;
	margin-top: 0.5em;
	padding-top: 0.3em;
}
.imagen {
	height: 1em;
	width: 1em;
	float: right;
	padding-right: 0.5em;
}
#imagen2 {
	height: .85em;
	width: .85em;
	padding-left: 0.1em;
	padding-right: 0.3em;
}
 

