
/* Esta parte le da el estilo al borde del titulo H1 */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	box-sizing: inherit;
	font-family: 'Merriweather', serif;
}
html {
	font-size: 16px;
}

body {
		background-color: #0f1111;


	}
/*00bb2d*/
h1 {
	background-image: url(frente-facu2.jpg);
	background-size: cover;
	height: 5em;
	color: #317bbb;
	text-shadow: 5px 5px  black;
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 4em;
	font-weight: 300;
	overflow: auto;
	transition: color 1s;
	}

.nav-mobil-palanca {
	position: absolute;
	z-index: 9999;
	background: url(menu-hamburguesa.png);
	background-size: cover;
	border: none;
	aspect-ratio: 1;
	width: 2rem;
	height: 2rem;
	top: 2rem;
	right: 2rem;		
	display: none;	

}
	

	.navegacion-primaria {
		display: flex;
		transition: 1s;
		width: 100%;
		margin-bottom: 3em;
		padding-top: .5em;
		justify-content: center;
		background: hsl(0 0% 100% / 0.1);
		backdrop-filter: blur(.5em);
		}

		#navegacion-primaria {
		display: flex;
		width: 100%;
		margin-bottom: 3em;
		justify-content: center;

		}


	

	nav a {
		font-weight: 400;
		padding: 0.5em;
		color: white;
		border-radius: 0.3em;

		}
.algo {
	color: red;
}
	nav a:hover {
		background-color: #317bbb;
	}


	li {
		font-family: 'Merriweather', serif;
		font-weight: 800;
		display: inline-flex;
		font-size: 0.7em;
		border-radius: 0.5em;
		margin-left: .5em;
		}

	label {
		color: white ;
		margin-left: 1em;
	}
					
	.contenedora_total 
	{ 
		background-color: #0f1111;
		display: flex;
		width: 100%;
		border-radius: 0.5em;	
		justify-content: center;	
	}
					
	
	.contenedora_total div
	{ 		
	color: #f2fcf0;
	width: 16rem;
	height: 21rem;
	margin: 1rem;
	text-align: center;
	border-radius: 0.5em;	
	transition:  1s;
 	font-family: 'Lobster', cursive;
	font-size: 1.5em;
	}
	

	.contenedora_total div img 
	{
		border-radius: 0.5em;
		float: left;
		width: 100%;
		height: 40%;
		min-height: 1em;
		min-height: 15rem;

	}


	.contenedora_total div:hover
		{	
			opacity: 0.9;
			box-shadow: 0 0.2rem 0.2rem 0.2rem #317bbb;
		}
.contenedora_total div:focus
		{	
			opacity: 0.9;
			box-shadow: 0 0.2rem 0.2rem 0.2rem #317bbb;
		}
	

	article {
				 font-size: 1em;
				 color: whitesmoke;
				 background-color: none;
				 border-radius: 0.5em;
				 margin: 2rem;
				 height: 100vh;
			}
	.contenedor-carrousel {
		height: 100vh;
		width: 100vw;
		margin-top: 5em;
		background-color: none;
		display: flex;
		justify-content: center;
	}

	.carrousel {
		position: absolute;
		width: 50vw;
		height: 70vh;
		padding: 0;
		background: none;
	}

	.slide {
		position: absolute;
		opacity: 0;
		background-color: none;
		transition:200ms opacity ease-in-out;

	
	}
	.slide[data-active] {
		opacity: 1;
		background: none;
	}


	.slide > img {
		
		display: block;
		width: 50vw;
		height: 70vh;
		object-fit: fill;
		align-content: center;
	
	}

	.carrousel-button  {
		opacity: 0.7;
		position: absolute;
		cursor: pointer;
		background-color: rgba(20,20,20,.3);
		font-size: 3em;
		z-index: 1;
		color: rgba(255, 255, 255, 1);
		top: 50%;
		border: 1px solid black;
		border-radius: 0.5em;
		transform: translateY(-50%);
		padding: 0 0.2em;
	}

	.carrousel-button:hover {
		opacity:1;
		
	}
	.carrousel-button.ant  {
		left: 1em;
	}

	.carrousel-button.sig {
		
		right:  .4em;
		
	}



	footer {
			background-color: #317bbb;
			font-size: 1.5rem;
			height: 2em;
			color: whitesmoke;
			margin: -10px;
		
		   }
footer div {
	text-align: center;
	padding-top: 0.3em;
}

/*Imagen uno y dos lo que hacen es achicar los tamaños de los logos de facebook e instagram, lo comento porque 
ya lo borre una vez sin querer*/
.imagen {
	height: 1em;
	width: 1em;
	float: center;
		}
#imagen2 {
	height: .85em;
	width: .85em;
	padding-bottom: .1em;
	
}


#Informacion_footer {
	background-color: black;
	display: flex;
	margin: 0 -10px;
}

#Informacion_footer div {
	color: ghostwhite;
	display: inline-flex;
	margin: 10px auto;
}


@media (max-width: 800px)
		{
			.contenedora_total 
				{
				display: block;
				width: 100%;
				}
			
			.contenedora_total div 
			{
				display: block;
				margin-left: 5%;
				width: 90%;
				margin-top: 5%;
				margin-bottom: 10%;
				border-bottom: 1px solid whitesmoke;
				
			}
			
			h1 {
				background-size: contain;
				font-size: 3em;
				margin-top: 1em;
			}
			body {
				background-size: contain;
				background-repeat: repeat-y;
			}	
				.navegacion-primaria{	
				position: fixed;
				inset: 0 0 0 30%;
				flex-direction: column;
				height: 100vh;
				padding: min(10vh,4rem) 2em;
				z-index: 50;
				margin-bottom: 5em;
				transform: translateX(100%);
				}	
				nav ul li:first-child{
					margin-top: -150px;
				}
				nav ul li {
				margin-bottom: 2em;
				font-size: 1em;
			}
			.nav-mobil-palanca {
				display: block;
			}
			.navegacion-primaria[data-visible="true"]
		{
			transform: translateX(0%);
		}
		}


@media (max-width: 500px)
		{
			.navegacion-primaria{	
				position: fixed;
				inset: 0 0 0 30%;
				flex-direction: column;
				height: 100vh;
				padding: min(10vh,4rem) 2em;
				z-index: 50;
				margin-bottom: 1em;
				transform: translateX(100%);
				}
			
			
			.nav-mobil-palanca {
				display: block;
				position: fixed;
			}
		
			#navegacion-primaria {
				flex-direction: column;
			}
			.navegacion-primaria[data-visible="true"]
		{
			transform: translateX(0%);
		}
		nav ul li:first-child{
					margin-top: -150px;
				}
		}